opensearch-py==3.0.0

torch==2.6.0
numpy==1.26.4
tqdm>=4.66
sentence-transformers==5.2.0

requests>=2.32
pydantic>=2.7
spacy==3.8.5

# inference
python-dotenv==1.1.1
llama-cpp-python==0.3.8
openai==2.30.0
# llama-cpp-python[metal]>=0.3.4
flask==3.1.2

# apple support
mlx==0.31.1
mlx-lm==0.31.2
mlx-metal==0.31.1
