# databases
opensearch-py==3.1.0

# Base dependencies
torch==2.6.0
# numpy>=1.26.4
numpy>=2.4.2
tqdm>=4.66

# intelligence
sentence-transformers==5.2.3

# bm25
pydantic>=2.7
spacy==3.8.7

# inference
python-dotenv==1.1.1
llama-cpp-python==0.3.20

# api support
openai==2.30.0
flask>=3.1.3
requests==2.32.3

# Dev dependencies
pytest>=9.0.2
